.loop-control .loop {
    -fx-stroke: lightgray;
    -fx-stroke-width: 2;
    -fx-fill: transparent;
}

.loop-control:hover .loop {
    -fx-stroke-width: 4;
}

.loop-control-selected .loop {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.loop-control .note {
    -fx-stroke-width: 1;
    -fx-stroke: black;
}

.loop-control .note:hover {
    -fx-stroke-width: 2;
    -fx-stroke: black;
}

.loop-control .minor-tick {
    -fx-stroke: grey;
}

.loop-control .major-tick {
    -fx-stroke: grey;
}

.loop-control .ghost {
    -fx-fill: blue;
}